{% extends 'layout.html' %}

{% block body %}
<h1>Bienvenido a Café Bar Shop</h1>
    <div class="col-md-12">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
      
        
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://images.pexels.com/photos/15105621/pexels-photo-15105621/free-photo-of-restaurante-barra-bar-cafeteria.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Tarjeta uno</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, cum aliquid. Pariatur explicabo facilis cupiditate labore..</p>
              </div>        
            </div>
            <div class="carousel-item">
              <img src="https://images.pexels.com/photos/702251/pexels-photo-702251.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Tarjeta dos</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, vel obcaecati!</p>
              </div>        
            </div>
            <div class="carousel-item">
              <img src="https://images.pexels.com/photos/3352765/pexels-photo-3352765.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Tarjeta tres</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam recusandae laudantium deserunt necessitatibus ducimus!</p>
              </div>
        
            </div>
          </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      
      </div>
    </div>
    <div class="row">
      <div class="card landing">
        <div class="card-body">
          <section>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae porro officia itaque, error ab aut! Nam mollitia porro explicabo nobis voluptatibus enim tenetur error harum ex quisquam, saepe qui, aperiam animi quae quam?
          </section>
          <section>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero asperiores doloremque esse fugiat dignissimos, in autem!
          </section>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card" style="width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Café Mexicano</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Especialidades</h6>
          <p class="card-text">
            El sabor se destaca por su <strong>gran cuerpo y balance</strong>, además de un dulzor y acidez equilibrados que deleitan al paladar. Variantes preodminantes provenientes son Typica, Bourbon y Caturra.
          </p>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Consumo</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">en México</h6>
          <p class="card-text">
            El 60% de los hogares en México consumen cafe, esto quiere decir que en <strong>6 de cada 10 mexicanos</strong> acostumbran a beber café, datos obtenidos durante el segundo periodo del año 2023.
            </p>
        </div>
      </div>
    </div>
    <div class="row">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis doloremque, perferendis cum illum exercitationem qui ab quia vero culpa id vel magni quae quas nobis neque fuga. Tenetur nam facere fuga ex praesentium?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus porro harum quibusdam beatae nemo, odit eveniet? Aut consectetur ab mollitia placeat, numquam id vero alias odit aliquam. Ipsa ea nostrum sed ducimus deleniti nemo impedit ex eos hic sapiente repellat ipsam facilis fugiat nobis dignissimos fugit, dicta, nisi nesciunt tenetur? Odit ea alias officia corrupti consectetur, accusamus ex tenetur, consequatur incidunt atque saepe facilis voluptate vel minima deserunt dolore, perferendis velit quaerat vero! Sapiente a nobis laudantium placeat tenetur reprehenderit cupiditate hic magnam quo in nihil vero sed ducimus aliquid iusto, voluptas, ea commodi dolorum iure ipsam quam soluta natus.
      </p>
    </div>

    <div class="card" style="width: 34rem;">
      <div class="card-body">
        <h5 class="card-title">Información Importante</h5>
        <p class="card-text">Café Gourmet con especialidad premium es cultivado a la sombra. La altura es de 900 metros sobre el nivel del mar con temperatura promedio 20 grados centigrados, vientos moderados y humedad adecuada.</p>
        <div class="alert alert-success" role="alert">
            Opciones de compra !!!
        </div>
        
      </div>
    </div>

{% endblock %}