{% extends 'layout.html' %}

{% block body %}
<h1>Ofertas disponibles</h1>
    <div class="col-md-12 card-flex">
        <div class="card text-bg-primary mb-3" style="max-width: 23rem;">
            <div class="card-header">Oferta etiqueta Azul</div>
            <div class="card-body">
                <p class="card-text">
                    Descuento aplicado del <b>5%</b>, busque existencias y marcas participantes.
                </p>
            </div>
        </div>
        <div class="card text-bg-warning mb-3" style="max-width: 23rem;">
            <div class="card-header">Oferta etiqueta Amarilla</div>
            <div class="card-body">
                <p class="card-text">
                    Descuento aplicado del <b>15%</b>, busque existencias y marcas participantes.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card text-bg-danger mb-3" style="max-width: 23rem;">
            <div class="card-header">Oferta etiqueta Roja</div>
            <div class="card-body">
                <p class="card-text">
                    Descuento aplicado del <b>25%</b>, busque existencias y marcas participantes.
                </p>
            </div>
        </div>
    </div>

{% endblock %}